* {
  margin: 0;
  padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.schieberegeler::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #04AA6D;
  cursor: pointer;
}

.schieberegeler::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}
.schieberegeler{
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

#displaycont{
  display: flex;
  justify-content: center;
}

#display {
    width: 50%;
    display: flex;
    justify-content: space-between;
    
}



input[type=number] {
    -moz-appearance: textfield;
  }
  
  #eingabe{
    display: flex;
    justify-content: space-between;
    padding-left: 25%;
  }

  #regler{

    display: flex;
    flex-direction: column;
  }

  #felder{
    max-width: 42%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;

  }

  .inputFeld{
    height: 20px;
    text-align: center;
    width: 20%;
  }

  #controls{
    display: flex;
    justify-content: center;
  }


  #stop{
    margin-left: 2%;
    margin-right: 2%;
  }